apiVersion: v1
kind: Service
metadata:
  name: mongodb
  namespace: travel-booking
  labels:
    app: mongodb
spec:
  type: ClusterIP
  ports:
  - port: 27017
    targetPort: 27017
    protocol: TCP
    name: mongo
  selector:
    app: mongodb
